.login-box {
    background: lightblue;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    height: 350px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}