<div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <form [formGroup]="this.categoryForm">
      <mat-radio-group formControlName="category" (change)="this.changeProduct.emit(this.categoryForm.value.category)">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <mat-radio-button [value]="node.id">
        {{node.name}}
        </mat-radio-button>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-radio-button [value]="node.id">
        {{node.name}}
        </mat-radio-button>
      </mat-tree-node>
      </mat-radio-group>
    </form>
    </mat-tree>
  </div>