<div class="flex flex-row justify-center">
    <div class="flex flex-col">
        <figure id="onlineDemand"></figure>
        <figure id="averageSearchVolume"></figure>
        <form [formGroup]="dateForm">
            <mat-form-field>
                <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="this.drawCharts()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>
    </div>
    <app-select-category (changeProduct)="changeProduct($event)"></app-select-category>
</div>
